@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

html {
    max-width: 1440px;
    margin: auto;
    height: 150vh;
    background-color: hsl(233, 47%, 7%);
}

body {
    display: flex;
    max-width: 1440px;
    margin: auto;
    text-align: center;
    /* border: 1px solid black; */
    font-family: 'Inter', sans-serif;
    padding: 143px;
    flex-wrap: wrap;
    
}

#main-wrapper {
    display: flex;
    max-width: 1201px;
    /* margin: auto; */
    height: 450px;
    border-radius: 12px;
    background-color: hsl(244, 38%, 16%);
   
    
}



