
@media all and (max-width: 1200px) {
    body {
        max-width: 375px;
        display: flex;
        /* justify-content: center; */
        align-items: center;
        padding: 25px;
        margin: auto;
        font-family: 'Inter', sans-serif;
        background-color: hsl(233, 47%, 7%);
        flex-direction: column;
    }

    #card-wrapper {
        background-color: hsl(244, 38%, 16%);
        height: 100%;
        width: 350px;
        display: flex;
        flex-direction: column;
        border-radius: 12px;
    }

    #img-wrapper {
        max-width: 350px;
        max-height: 300px;
        margin: auto;
        border-radius: 12px 12px 0px 0px;
    }

    #main-img {
        max-width: 350px;
        max-height: 300px;
        border-radius: 12px 12px 0px 0px;
    }

    #container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #container h1 {
        font-size: 30px;
        text-align: center;
    }

    #container p {
        text-align: center;
        letter-spacing: 1px;
    }

    .statistics-wrapper {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}